{% load static %}

<div class="navbar bg-emerald-300 text-gray-950">
  <div class="flex-1">
        <a href="/"class="focus:outline-none hover:bg-emerald-600 btn btn-ghost btn btn-ghost"><i class="fa-solid fa-location-dot"></i> <B>Pet Locator Hub</b></a>
          <a href="{% url 'posts' %}" class="focus:outline-none hover:bg-emerald-600 btn btn-ghost btn btn-ghost text-black px-6"> 
            <b>posts</b>
        </a>
          <a href="{% url 'reports' %}" class="focus:outline-none hover:bg-emerald-600 btn btn-ghost btn btn-ghost text-black px-6"> 
            <b>lost pets</b>
        </a> 
          <a href="{% url 'found' %}" class="focus:outline-none hover:bg-emerald-600 btn btn-ghost btn btn-ghost text-black px-6"> 
            <b>found pets</b>
        </a> 
        <input 
        type="text"
        placeholder="Search"
        class="input input-bordered w-24 md:w-auto bg-white"
      />
  </div>
  <div class="flex items-center">

  </div>
  <div class="flex-none gap-2">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="{% static "images/logo.jpg" %}" />
        </div>
      </label>
      <ul
        tabindex="0"
        class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-red-100 rounded-box w-52"
      >
        <li>
          <a class="justify-between">
            <l1><a href="/profile">Profile</a></li>
          </a>
        </li>
        <li><a>Contacts</a></li>
        {%if user.is_authenticated%}
        <li><a href="/logout">logout</a></li>
        {%else%}
        <li><a href="/login">login</a></li>
        {%endif%}
      </ul>
    </div>
  </div>
</div>
